<script src="https://utteranc.es/client.js"
        repo="lehoangphuc747/hocanki"
        issue-term="pathname"
        label="Bình luận"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
