<script src="https://giscus.app/client.js"
        data-repo="lehoangphuc747/hocanki"
        data-repo-id="R_kgDOKAXzsg"
        data-category-id="DIC_kwDOKAXzss4CYSek"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_high_contrast"
        data-lang="vi"
        crossorigin="anonymous"
        async>
</script>
